.place-center{
margin: 0 auto;
}

.context_box{
width: 700px;
justify-content: center;
align-items: center;
text-align: center;
margin: 0 auto;

}

.context_text_Title{
    color:#7E1CFE;
    font-weight: 800;
    font-size: 1.4rem;
}

.context_text{
    color:#4D4D4D;
    font-weight: 300;
    font-size: 1.0rem;
}

 /* blog post  */

 /* .items_blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 } */


 .blog_box{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
 }











 .center-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 6px;
}

.items_blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  
}
.blog_box{
    padding: 3px;
    line-height: 1.1rem;
}

.blog_box > p {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    opacity: 0.9;
}

.blog_box > small {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 300;
}


.blog_box > img {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
}



@media screen and (max-width:600px) {
    .blog_box{
        width: 150px;
    }

    .items_blogs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem;
        margin-left: -15px;
    }

    
.blog_box > p {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 0.6rem;
}


.blog_box > small {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: small;
}

  
.blog_box > img {
  max-width: 100%;
}
}




@media screen and (max-width:1122px){
    
.context_box{
    width: 500px;
    justify-content: center;
    align-items: center;
     text-align: center;
     margin: 0 auto;
    }

    
.context_text_Title{
    color:#7E1CFE;
    font-weight: 800;
    font-size: 1.1rem;
}

.context_text{
    color:#4D4D4D;
    font-weight: 300;
    font-size: 0.7rem;
}

}


@media screen and (max-width:700px){
    .context_box{
        width: 350px;
        justify-content: center;
        align-items: center;
         text-align: center;
         margin: 0 auto;
         margin-left:-15px;
        }
    
        
    .context_text_Title{
        color:#7E1CFE;
        font-weight: 800;
        font-size: 1.1rem;
    }
    
    .context_text{
        color:#4D4D4D;
        font-weight: 300;
        font-size: 0.7rem;
    }
    
    }


.join_btn_component{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.colume-btn{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.flex-btn{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.btn{
    padding:0.6em 2em;
  border-radius: 8px;
  color:#fff;
  background-color:#1976d2;
  font-size:1.1em;
  border:0;
  cursor:pointer;
  margin:1em;
}

.btn2{
    padding:0.6em 2em;
    width: 170px;
  border-radius: 8px;
  color:#fff;
  background-color:#1976d2;
  font-size:1.1em;
  border:0;
  cursor:pointer;
  margin:1em;
}

@media screen and (max-width:600px) {
    .btn{
        padding:0.2em 2em;
      border-radius: 8px;
      color:#fff;
      background-color:#1976d2;
      font-size:1.1em;
      border:0;
      cursor:pointer;
    }
    
    .btn2{
        padding:0.9em 2em;
      border-radius: 8px;
      color:#fff;
      background-color:#1976d2;
      font-size:1.1em;
      border:0;
      cursor:pointer;
    } 

    .flex-btn {
        margin-left: -22px;
    }
}

.btn_free{
    padding:0.6em 2em;
    border-radius: 8px;
    color:turquoise;
    background-color: transparent;
    border: 2px solid #1976d2;
    font-size:1.1em;
    cursor:pointer;
    margin:1em;
    text-decoration: underline;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.btn_free:hover{
background: #1976d2;
transition: ease-in-out .5s;
}