.place-center{
margin: 0 auto;
}

.context_box{
width: 700px;
justify-content: center;
align-items: center;
text-align: center;
margin: 0 auto;

}

.context_text_Title{
    color:#7E1CFE;
    font-weight: 800;
    font-size: 1.4rem;
}

.context_text{
    color:#4D4D4D;
    font-weight: 300;
    font-size: 1.0rem;
}

 /* blog post  */

 /* .items_blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 } */


 .blog_box{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
 }











 .center-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 6px;
}

.items_blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  
}
.blog_box{
    padding: 3px;
    line-height: 1.1rem;
}

.blog_box > p {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    opacity: 0.9;
}

.blog_box > small {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 300;
}


.blog_box > img {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
}



@media screen and (max-width:600px) {
    .blog_box{
        width: 150px;
    }

    .items_blogs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem;
        margin-left: -15px;
    }

    
.blog_box > p {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 0.6rem;
}


.blog_box > small {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: small;
}

  
.blog_box > img {
  max-width: 100%;
}
}




@media screen and (max-width:1122px){
    
.context_box{
    width: 500px;
    justify-content: center;
    align-items: center;
     text-align: center;
     margin: 0 auto;
    }

    
.context_text_Title{
    color:#7E1CFE;
    font-weight: 800;
    font-size: 1.1rem;
}

.context_text{
    color:#4D4D4D;
    font-weight: 300;
    font-size: 0.7rem;
}

}


.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#F2C, #F2C)
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}

@media screen and (max-width:700px){
    .context_box{
        width: 350px;
        justify-content: center;
        align-items: center;
         text-align: center;
         margin: 0 auto;
         margin-left:-15px;
        }
    
        
    .context_text_Title{
        color:#7E1CFE;
        font-weight: 800;
        font-size: 1.1rem;
    }
    
    .context_text{
        color:#4D4D4D;
        font-weight: 300;
        font-size: 0.7rem;
    }
    
    }


.join_btn_component{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.flex-btn{
    display: flex;
    flex-direction: row;
}

.btn{
    padding:30px;
    width: 100px;
    background: transparent;
    border: 2px solid turquoise;
    text-align: center;
}