@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


body{
  background-color:white;
  font-family: "Poppins", sans-serif;
}

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container{
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}


.footer-container{
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}


p{
  color: black;
}


img{
  max-width: 100%;
  height: auto;
}

.indigo{
  color:#7E1CFE;
}